@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: "Roboto Condensed", sans-serif;
}
body {
    position: relative;
    height: 100%;
    background: #000;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}
img{
    max-width:100%;
    height:auto;
    margin: auto;
    display:block;
}
.navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link{
    color:#f77c02 ;
    position:relative;
}
.navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link::after{
    content:"";
    background-color: #f77c02;
    width:0;
    height:2px;
    position:absolute;
    bottom:10px;
    left:5px;
    transition:0.5s;
}
.navbar .container .sidebar .offcanvas-body .navbar-nav .nav-item .nav-link:hover::after{
    width:85%;
}
.cart-icon{
    position: relative;
}
.cart-icon .cart-value{
    position:absolute;
    top:40%;
    right:15px;
}
main{
    padding-top: 100px;
}
.fa-star{
    color: gold;
}
footer {
    position:relative;
}
footer .info li a {
    border-radius: 50%;
    background-color:rgb(84, 101, 120);
    color:white;
}
footer .info li :hover{
    color:black;
    background-color: #f77c02;
}
footer .copyright::after{
    content:"";
    background-color:rgba(84, 101, 120, 0.704);
    height:1px;
    position:absolute;
    bottom:80px;
    left:0px;
    width:100%;
}





